                                    ------
                                    Usage
                                    ------
                                    Terradue srl
                                    ------
                                     2012


~~
~~   Copyright 2012 Terradue srl
~~
~~   Licensed under the Apache License, Version 2.0 (the "License");
~~   you may not use this file except in compliance with the License.
~~   You may obtain a copy of the License at
~~
~~       http://www.apache.org/licenses/LICENSE-2.0
~~
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.
~~

How to use ${project.name}

  <${project.name} ${project.version}> offers a list of command line tools to interact with Zimory/DSI REST Server:

  * <<<dsi-upload-image>>>: Upload an image on DSI Cloud;

  * <<<dsi-stop-instances>>>: Terminate the selected running instance(s);

  * <<<dsi-start-instances>>>: Run an instance of a particular image(s);

  * <<<dsi-register-image>>>: Register a previously uploaded image to be run;

  * <<<dsi-reboot-instances>>>: Reboot an instance of specified image(s);

  * <<<dsi-describe-instances>>>: List and describe running instances;

  * <<<dsi-describe-images>>>: List and describe previously uploaded images;

  * <<<dsi-describe-clouds>>>: List and describe DSI Cloud(s);

  * <<<dsi-create-tags>>>: Creates an instance snapshot;

  * <<<dsi-authorize>>>: Add a user to an account.

  The <Windows> version of that commands are named exactly the same, but with <<<.bat>>> extension.

* Common parameters

  By running whatever <<<dsi->>> command with <<<-h>>> (or <<<--help>>>) option, it shows all the available options/flags
  can be turned on, there are some anyway shared between them:

-------------------
    -X, --debug      Produce execution debug output.
                     Default: false
    -H, --host       The DSI web service URI.
                     Default: testcloud.t-systems.com
    -p, --password   The DSI account password.
    -u, --username   The DSI account username.
    -v, --version    Display version information.
                     Default: false
-------------------

  <NOTE 1> with <<<-u>>> or <<<--username>>> it is intended the username part of the certificate
  (see {{{./installation.html}Installation}} page).

  <NOTE 2> with <<<-p>>> or <<<--password>>> it is intended the the certificate password
  (see {{{./installation.html}Installation}} page).
