                                    ------
                                    Usage
                                    ------
                                    Terradue srl
                                    ------
                                     2012


~~
~~   Copyright 2012 Terradue srl
~~
~~   Licensed under the Apache License, Version 2.0 (the "License");
~~   you may not use this file except in compliance with the License.
~~   You may obtain a copy of the License at
~~
~~       http://www.apache.org/licenses/LICENSE-2.0
~~
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.
~~

How to use ${project.name}

  <${project.name} ${project.version}> offers a list of command line tools to interact with Zimory/DSI REST Server:

  * <<<dsi-upload-image>>>: Uploads an image on DSI Cloud;

  * <<<dsi-stop-instances>>>: Terminate the selected running instance;

  * <<<dsi-start-instances>>>: 

  * <<<dsi-register-image>>>: 

  * <<<dsi-reboot-instances>>>: 

  * <<<dsi-describe-instances>>>: 

  * <<<dsi-describe-images>>>: 

  * <<<dsi-describe-clouds>>>: 

  * <<<dsi-create-tags>>>: 

  * <<<dsi-authorize>>>: 
